body{
    background-color: grey;
}
.div{
    border: 2px solid;
    border-color: black;
    height: 100px;
    width: 70rem;
}
nav { 
    margin: 20px;
    padding: 10px;
    display: flex;
    gap: 50px;
    font-size: 30px;
    justify-content: center;
    

    
}